
.about_section {
    background-color: #16003B;
    padding: 70px 0px;
}

.main_about_heading {

    h2 {
        color: #FFF;
        font-size: 30px;
        font-weight: 600;
    }
    p {
        font-size: 22px;
        font-weight: 400;
        color: #FFF;
    }

} 

.list_reflections {
    margin-top: 40px;
    ul {
        list-style: decimal;
        li {
            &::marker {
                font-size: 25px;
                color: #FFF;
            }
            .single_reflection {
                h2 {
                    color: #FFF;
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 0px;
                }
                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #FFF;
                }
            }
        }
    }
}