
.about_section {
    background-color: #16003B;
    height: 100vh;
    padding: 70px 0px;
}

.main_about_heading {

    h2 {
        color: #FFF;
        font-size: 30px;
        font-weight: 600;
    }
    p {
        font-size: 22px;
        font-weight: 400;
        color: #FFF;
    }

} 