body {
    font-family: 'Quicksand', sans-serif;
}

main {
    position: relative;
    background-color: #16003B;
    .name_outter {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .main_heading {
        font-size: 50px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        color: #16003B;
    }
    .sub_heading {
        font-size: 40px;
        font-family: 'Quicksand', sans-serif;
        color: #16003B;
    }

}


@import "_about";
