body {
  font-family: 'Quicksand', sans-serif;
}

main {
  position: relative;
  background-color: #16003B;
}

main .name_outter {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .main_heading {
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: #16003B;
}

main .sub_heading {
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
  color: #16003B;
}

.about_section {
  background-color: #16003B;
  padding: 70px 0px;
}

.main_about_heading h2 {
  color: #FFF;
  font-size: 30px;
  font-weight: 600;
}

.main_about_heading p {
  font-size: 22px;
  font-weight: 400;
  color: #FFF;
}

.list_reflections {
  margin-top: 40px;
}

.list_reflections ul {
  list-style: decimal;
}

.list_reflections ul li::marker {
  font-size: 25px;
  color: #FFF;
}

.list_reflections ul li .single_reflection h2 {
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
}

.list_reflections ul li .single_reflection p {
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;
  background-color: #16003B;
}

.navbar-brand {
  font-size: 32px;
  color: #FFF;
  font-weight: 700;
  -webkit-transition: 250ms all ease-in;
  transition: 250ms all ease-in;
}

.navbar-brand:hover {
  color: #E9D5CA;
}

.navbar-nav .nav-link {
  color: #FFF;
  font-weight: 400;
  font-size: 18px;
  -webkit-transition: 250ms all ease-in;
  transition: 250ms all ease-in;
}

.navbar-nav .nav-link:hover {
  color: #E9D5CA;
}

.navbar-nav .nav-link.active {
  color: #E9D5CA;
}
